.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:#8B4513;
}

.button:pressed {

    -fx-color: black;
    -fx-background-color:#8B4513;

}

.button:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.3;


}